.Container {
  display: flex;
  align-items: center;
}

table.Scorecard {
  margin: 0 auto;
  width:80%;
  font-size:12px;
  border:1px solid;
  text-align: center;
  table-layout: fixed;
  margin-bottom: 40px;
}

table.Scorecard th, tr, td {
  padding: 0;
  vertical-align: middle;
  font-weight: bold;
}

table.Scorecard th {
  border-bottom:1px solid;
  background-color:#D3D3D3;
  height:30px;
}

table.Scorecard th:not(:last-child) {
  border-right:1px solid;
}

table.Scorecard td {
  height:30px;
  background: #F0F8FF;
}

table.Scorecard tr td:not(:last-child) {
  border-right:1px solid;
}

table.Scorecard tr:nth-child(2) td:nth-child(even) {
  border-bottom:1px solid;
}

table.Scorecard tr:nth-child(2) td:last-child {
  border-bottom:1px solid;
}

table.Scorecard #r21 {
  border-bottom: 1px solid;
}

table.Scorecard #total-score {
  background-color: #E6E6FA;
  border-bottom: none;
}
