.Container {
  display: flex;
  flex-direction: column;
}

.Restart {
  width: 100px;
  border-radius: 15px;
  height: 35px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: red;
  border-color: red;
  background-color: transparent;
}

.Restart:hover {
  background-color: red;
  color: white;
  opacity: 0.9;
}

button {
  font-family: 'Bitter', cursive;
  width: 50px;
  height: 50px;
  margin: 10px;
  background-color: #27b09e;
  color: white;
  outline: none;
  font-size: 15px;
}

button:hover {
  opacity: 0.7;
}

button:disabled,
button[disabled]{
  background-color: #27b09e82;
  color: grey;
}
